USE [master]
GO
/****** Object:  Database [QLKhamBenh]    Script Date: 2/19/2017 11:53:17 AM ******/
CREATE DATABASE [QLKhamBenh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKhamBenh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\QLKhamBenh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLKhamBenh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\QLKhamBenh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKhamBenh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKhamBenh]
GO
USE [QLKhamBenh]
GO
/****** Object:  Table [dbo].[bacsy]    Script Date: 2/19/2017 11:53:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bacsy](
	[msbacsy] [varchar](25) NOT NULL,
	[hotenbacsy] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_bacsy] PRIMARY KEY CLUSTERED 
(
	[msbacsy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[benhnhan]    Script Date: 2/19/2017 11:53:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benhnhan](
	[msbn] [varchar](15) NOT NULL,
	[socmnd] [varchar](25) NOT NULL,
	[hoten] [nvarchar](150) NOT NULL,
	[diachi] [nvarchar](250) NULL,
 CONSTRAINT [PK_benhnhan] PRIMARY KEY CLUSTERED 
(
	[msbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[khambenh]    Script Date: 2/19/2017 11:53:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khambenh](
	[msbn] [varchar](15) NOT NULL,
	[msbacsy] [varchar](25) NOT NULL,
	[ngaykham] [date] NOT NULL,
	[ghichu] [text] NULL,
 CONSTRAINT [PK_khambenh] PRIMARY KEY CLUSTERED 
(
	[msbn] ASC,
	[msbacsy] ASC,
	[ngaykham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[bacsy] ([msbacsy], [hotenbacsy]) VALUES (N'BS0001', N'Trần Thanh Hải')
INSERT [dbo].[benhnhan] ([msbn], [socmnd], [hoten], [diachi]) VALUES (N'BN001', N'1415125151', N'Nguyễn Thanh Nga', N'Hồ Chí Minh')
INSERT [dbo].[benhnhan] ([msbn], [socmnd], [hoten], [diachi]) VALUES (N'BN002', N'3129371991', N'Nguyen Ngoc Vu', N'Ho Chi Minh')
ALTER TABLE [dbo].[khambenh]  WITH CHECK ADD  CONSTRAINT [FK_khambenh_bacsy] FOREIGN KEY([msbacsy])
REFERENCES [dbo].[bacsy] ([msbacsy])
GO
ALTER TABLE [dbo].[khambenh] CHECK CONSTRAINT [FK_khambenh_bacsy]
GO
ALTER TABLE [dbo].[khambenh]  WITH CHECK ADD  CONSTRAINT [FK_khambenh_benhnhan] FOREIGN KEY([msbn])
REFERENCES [dbo].[benhnhan] ([msbn])
GO
ALTER TABLE [dbo].[khambenh] CHECK CONSTRAINT [FK_khambenh_benhnhan]
GO
USE [master]
GO
